build/
local/
*.pyc
/src/include/core/config.h
/CMakeLists.txt.user
external/libs/boost/include/boost/

# iOS project file
src/ios/RHVoice/prebuild.log
src/ios/RHVoice/RHVoice.xcodeproj/project.xcworkspace/xcuserdata
src/ios/RHVoice/RHVoice.xcodeproj/xcuserdata
src/ios/RHVoice/build_iphoneos
src/ios/RHVoice/build_iphonesimulator
src/ios/RHVoice/RHVoice.xcframework
