[submodule "cmake/thirdparty/sanitizers"]
	path = cmake/thirdparty/sanitizers
	url = https://github.com/arsenm/sanitizers-cmake.git
[submodule "src/third-party/cldr"]
	path = src/third-party/cldr
	url = https://github.com/unicode-org/cldr.git
[submodule "data/voices/victoria"]
	path = data/voices/victoria
	url = https://github.com/rhvoice/victoria-ru
[submodule "data/voices/evgeniy-rus"]
	path = data/voices/evgeniy-rus
	url = https://github.com/rhvoice/evgeniy-rus
[submodule "data/voices/evgeniy-eng"]
	path = data/voices/evgeniy-eng
	url = https://github.com/rhvoice/evgeniy-eng
[submodule "external/libs/sonic"]
	path = external/libs/sonic
	url = https://github.com/waywardgeek/sonic.git
[submodule "data/voices/aleksandr-hq"]
	path = data/voices/aleksandr-hq
	url = https://github.com/rhvoice/aleksandr-hq-rus
