Source: rhvoice
Section: sound
Priority: optional
Maintainer: Yauhen Kharuzhy <jekhor@gmail.com>
Build-Depends: debhelper (>= 9), scons, libsox-dev, libunistring-dev, flite1-dev, libiconv-hook-dev, expat, pkg-config,libao-dev, libglibmm-2.4-dev, portaudio19-dev
Standards-Version: 3.9.6
Homepage: https://github.com/Olga-Yakovleva/RHVoice
#Vcs-Git: git://anonscm.debian.org/collab-maint/rhvoice.git
#Vcs-Browser: https://anonscm.debian.org/gitweb/?p=collab-maint/rhvoice.git;a=summary

Package: rhvoice
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: free and open source speech synthesizer
 RHVoice uses statistical parametric synthesis. It relies on existing open
 source speech technologies (mainly HTS and related software).
 .
 This package contains executable files.

Package: librhvoice2
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}, rhvoice-data
Description: free and open source speech synthesizer - libraries
 RHVoice uses statistical parametric synthesis. It relies on existing open
 source speech technologies (mainly HTS and related software).
 .
 This package contans shared libraries.

Package: librhvoice-dev
Architecture: any
Multi-Arch: same
Section: libdevel
Pre-Depends: ${misc:Pre-Depends}
Depends: librhvoice2 (= ${binary:Version}), ${misc:Depends}
Description: free and open source speech synthesizer - development package
 RHVoice uses statistical parametric synthesis. It relies on existing open
 source speech technologies (mainly HTS and related software).
 .
 This package contains files needed to develop a software that will use
 RHVoice libraries.

Package: rhvoice-data
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: free and open source speech synthesizer – data files
 RHVoice uses statistical parametric synthesis. It relies on existing open
 source speech technologies (mainly HTS and related software).
 .
 This package contains data files (language definitions and voices) for it.

